@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@keyframes wejście{
    from{
        width: calc(405% + 1.3px);
    }
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .intro-window{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(to right, #6db1d8, #4480f0);
        .name-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            font-family: Montserrat;
            font-size: 4vw;
            animation: fade-in 1.5s;
            .name{
                letter-spacing: 3px;
                &::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 100%;
                    background: white;
                }
            }
            .title{
                font-weight: bold;
            }
        }
        .custom-shape-divider-bottom-1633169821 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            animation: wejście 1.5s ease-out;
            flex-shrink: 0;
            svg {
                position: relative;
                display: block;
                width: calc(175% + 1.3px);
                height: 325px;
                flex-shrink: 0;
            }
            .shape-fill {
                fill: #FFFFFF;
                flex-shrink: 0;
            }
        }
    }
    .center-window{
        height: 100vh;
        width: 100vw;
        background: white;
        display: flex;
        justify-content: space-around;
        .info{
            width: 45%;
            height: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            h1{
                font-family: Montserrat;
                letter-spacing: 3px;
            }
            p{
                font-size: 25px;
                font-family: Montserrat;
            }
        }
    }
}